<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <label for="ch-name"> Character name: </label>
        <input type="text" id="ch-name" name="ch-name">
        <label for="ch-gender"> Gender: </label>
        <input type="text" id="ch-gender" name="ch-gender">
        <label for="ch-age"> Age: </label>
        <input type="number" id="ch-age" name="ch-age">
        <label for="ch-class">Class:</label>
        <select id="ch-class" name="ch-class"></select>
        <label for="ch-race">Race: </label>
        <select id="ch-race" name="ch-race"></select>












        </select>

        <script src="js/global.js"></script>
        <script src="js/autoFields.js"></script>
    </body>
</html>