<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
        
    </head>
    <body>
        <label for="ch-name"> Character Name: </label>
        <input type="text" id="ch-name" name="ch-name">
        <label for="ch-gender"> gender: </label>
        <input type="text" id="ch-gender" name="ch-gender">
        <label for="ch-age"> age: </label>
        <input type="number" id="ch-age" name="ch-age">
        <label for="ch-name"> age: </label>
        <input type="number" id="ch-age" name="ch-age"><br>
        <label for="ch-class">class:</label>
        <select id="ch-class" name="ch-class">
            <!--<option value="Artificer">Artificer</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
            <option value="Wizard">Wizard</option> -->
        <select id="ch-Race" name="ch-Race">












        </select>

        <script src="../public/js/global.js"></script>
        <script src="../public/js/autoFields.js"></script>
    </body>
</html>