<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <label id="ch-nameL" for="ch-name"> Character Name: </label>
        <input type="text" id="ch-name" name="ch-name">
        <label id="ch-genderL" for="ch-gender"> Gender: </label>
        <input type="text" id="ch-gender" name="ch-gender">
        <label id="ch-ageL" for="ch-age"> Age: </label>
        <input type="number" id="ch-age" name="ch-age">
        <label id="ch-classL" for="ch-class">Class:</label>
        <select id="ch-class" name="ch-class"></select>
        <label  id="ch-raceL"for="ch-race">Race:</label>
        <select id="ch-race" name="ch-race"></select>
        <label id="ch-subraceL" for="ch-subrace">Subrace:</label>
        <select id="ch-subrace" name="ch-subrace"></select>

        <form>
            <input child="strMod" name="str" CType="score" type="number">
            <p name="strMod" automated></p>
        </form>

        <script src="js/global.js"></script>
        <script src="js/autoFields.js"></script>
    </body>
</html>