<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<<<<<<< Updated upstream
    <form action="/upload" method="post">
        <button type="submit" onclick="AddNew()">Save</button>
    </form>
=======
        <button onclick="AddNew()">Save</button>
    <script src="js/global.js"></script>
>>>>>>> Stashed changes
    <script src="js/create.js"></script>
</body>

</html>