<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <a id="link" href="/1"><button>New</button></a>
    <il id="list">
    </il>
    <script src="js/global.js"></script>
    <script src="js/display.js"></script>
</body>

</html>